/* 00BFFF */
.new_f-container {
    background: none;
    border: 2px solid #ececec;
}
.new_f-form > .clearfix {
    width: 905px;
    height: 70px;
    border-radius: 50px 50px  50px 0%;
}
.new_f-wrapper {
    padding-top: 30px;
}
.new_f-title {
    display: none;
}
.new_f-form > .clearfix > div, .new_f-form > .clearfix > button {
    height: 100%;
    padding: 15px 0;
}
.new_f-form .new_f-form-submit {
    border-radius: 0 50px 50px 0;
    overflow: hidden;
}
.new_f-form-field.to {
    width: 215px;
    border-radius: 50px 0  0 0;
}
.new_f-form-field::before {
    top: 0;
    height: 100%;
}
.new_f-dropdown-btn .cnt {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    background: url(./burger.png) no-repeat center / contain;
    background-color: none;
}
.new_f-dropdown-btn .cnt::after {
    display: none;
}
.new_f-dropdown-btn .cnt::after, .new_f-dropdown-btn::after {
    width: 20px;
    height: 20px;
    top: 10px;
    border: none;
    background: url(./arrow.png) no-repeat center / contain;
}
#new_os-to .new_f-dropdown-body, #new_os-to .new_f-dropdown-body.popup {
    top: 70px;
}
.new_f-search-dates-wrap {
    padding: 4px 6px 4px 20px;
}
.new_f-search-dates-wrap svg {
    display: none;
}
.new_f-datepicker-wrap>button {
    border-radius: 20px;
    overflow: hidden;
}
.new_f-datepicker-wrap button {
    text-align: center !important;
}
.new_f-datepicker-wrap-2::before {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background: #00BFFF;
}
.new_f-tip-active.new_f-search-dates-popup {
    display: none;
}
#new_os-to .new_f-dropdown-btn {
    padding: 0 0 0 25px;
    background: url(./search.png) no-repeat 15px / 15px; 
} 
.new_f-ext-btn-container {
    width: 905px;
}
.new_f-form .new_f-ext-btn {
    width: 215px;
    height: 30px;
    padding-top: 4px;
    border-radius: 0 0 12px 12px;
    background: #fff;
    color: #000 !important;
}
.new_f-ext-btn-text {
    color: inherit;
    text-decoration: none;
}
.new_f-ext-btn-text::before {
    border: none;
    width: 20px;
    height: 20px;
    left: 132%;
    top: 0;
    background: url(./arrow.png) no-repeat center / contain;
}
.new_f-ext-container .ui-slider-range, .new_f-ext-container .slider-container .ui-widget-content, .new_f-container {
    background: none;
}
.new_f-wrapper-bg-imgs {
    width: 50%;
    border-radius: 0 0 50px 0;
    background: url(./2494690.jpg) no-repeat;
}