@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;700&display=swap');
@import url(animation.css);
@import url(article.css);
@import url(light-theme.css);


/*font-family: 'Saira Condensed', sans-serif;*/
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
}
.nav {
    width: 100%;
    height: 100px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}
.nav_logo {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav_logo img {
    height: 100%;
    margin-right: 20px;
}
.nav_logo span {
    font-size: 40px;
}
.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}
.nav__menu-item {
    cursor: pointer;
    margin: 0 30px;
}
.nav_logo:hover .hover, .nav__menu-item:hover {
    color: #d7ebf8;
}
.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 5px 0 0 0;
    vertical-align: top;
    background: #B8CDDB;
    border: 1px solid #d7ebf8;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    appearance: none;
}
.toggle-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;
    width: 25px;
    height: 25px;
    background-color: #0c0c0c;
    border-radius: 50%;
    transform: translateX(0);
}
.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #B8CDDB;  
}
.toggle-button:checked {
    background-color: #0c0c0c;
    border: 1px solid #0c0c0c;
}
.main {
    width: 100%;
    padding-top: 10px;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
}
.slick-prev {left: 25px;}
.slick-next {right: 25px;}
.slick-list {
    width: 90%;
    margin: 0 auto;
}
.slider-item {
    height: 600px;
    display: flex !important;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-item h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.slider-item p, .slider-item button {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.slide-btn {
    border: 0;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    cursor: pointer;
}
.slider-item button:hover {
    background: #0c0c0c;
    color: #B8CDDB;
}
.item1 {
    background: url(../img/img1.jpg) no-repeat center/cover;
}
.item2 {
    background: url(../img/img2.jpg) no-repeat center/cover;
}
.item3 {
    background: url(../img/img3.jpg) no-repeat center/cover;
}
.sw-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
}
.sw-container h2 {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}
.sw-container h2 span {
    color: #c49704 !important;
}
.sw-container p {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
.sw-container p a {
    text-decoration: underline;
}
.sw-container-episode {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sw-container-episode h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}
.episode {
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin-top: 10px;
}  
.episode select {
    padding: 10px;
    padding-right: 15px;
    background-color: #c49704 !important;
    font-family: 'Saira Condensed', sans-serif;
    font-weight:700;
    font-size: inherit;
    border-radius: 3px;
} 
.episode::before,
.episode::after {
    content: "";
    position: absolute;
    pointer-events: none;
} 
.episode::before {
    width: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}
.episode select option {
    font-family: 'Saira Condensed', sans-serif;
    font-weight:700;
}
.episode select[disabled] {
    color: rgba(0,0,0,.3);
}
  
.episode select[disabled]::after {
    color: rgba(0,0,0,.1);
}
.episode::before {
    background-color: rgba(0,0,0,.15);
}
  
.episode::after {
    color: rgba(0,0,0,.4);
}
.show-char{
    width: 100px;
    height: 40px;
    margin: 10px 0;
    border-radius: 3px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight:700;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.sw {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}
.progress {
    width: 100%;
    display: flex;
    justify-content: center;
}
.progress-circle-lg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #c49704;
    border-radius: 50%;
    animation: loadbar1 1.5s ease-in-out infinite forwards;
}
.progress-circle-lg::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -2px;
    top: -2px;
    background-color: #0c0c0c;
}
.progress-circle-sm {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #c49704;
    border-radius: 50%;
}
.progress-circle-sm::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -2px;
    bottom: -2px;
    background-color: #0c0c0c;
}
.sw-item {
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #B8CDDB;
    padding: 10px;
    box-sizing: border-box;
}
.sw-item h2 {
    margin-bottom: 10px;
    font-size: 28px;
}
.sw-item p {
    margin-bottom: 10px;
    font-size: 20px;
}
.footer {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
}
.feedback-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-form h2 {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.feedback-form p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
.bg-dark p a, .bg-light p a {
    text-decoration: underline;
    color: inherit;
}
.fb-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fb-form-light .form-firstname,
.fb-form-light .form-secondname,
.fb-form-light .form-phone,
.fb-form-light .form-email,
.fb-form-light textarea,
.fb-form-light .form-button {
    color: #0c0c0c;
    background-color: #B8CDDB;
    border: 2px solid #0c0c0c;
    box-sizing: border-box;
}
.fb-form-light .form-firstname::placeholder,
.fb-form-light .form-secondname::placeholder,
.fb-form-light .form-phone::placeholder,
.fb-form-light .form-email::placeholder,
.fb-form-light textarea::placeholder {
    color: #0c0c0c;
    background-color: #B8CDDB;
}

.fb-form-dark .form-firstname,
.fb-form-dark .form-secondname,
.fb-form-dark .form-phone,
.fb-form-dark .form-email,
.fb-form-dark textarea,
.fb-form-dark .form-button {
    color: #B8CDDB;
    background-color: #0c0c0c;
    border: 2px solid #B8CDDB;
    box-sizing: border-box;
}
.fb-form-dark .form-firstname::placeholder,
.fb-form-dark .form-secondname::placeholder,
.fb-form-dark .form-phone::placeholder,
.fb-form-dark .form-email::placeholder,
.fb-form-dark textarea::placeholder {
    color: #B8CDDB;
    background-color: #0c0c0c;
}
.form-firstname-label {
    display: flex;
    flex-direction: column-reverse;
    width: 40%;
    height: 60px;
    line-height: 20px;
}
.form-firstname {
    width: 100%;
    height: 40px;
}
.form-firstname::placeholder, .form-secondname::placeholder, .form-phone::placeholder, .form-email::placeholder, .feedback-form form textarea::placeholder {
    font-family: 'Saira Condensed', sans-serif;
}
.form-secondname-label {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    height: 60px;
    line-height: 20px;
}
.form-secondname {
    width: 100%;
    height: 40px;
}
.form-phone-label, .form-email-label {
    display: flex;
    flex-direction: column-reverse;
    width: 45%;
    height: 60px;
    line-height: 20px;
}
.form-phone, .form-email {
    width: 100%;
    height: 40px;
} 
.form-firstname-label span, .form-secondname-label span, .form-phone-label span, .form-email-label span {
    display: block;
    height: 20px;
    margin-bottom: 10px;
    color: #e60d0d;
}
.fb-form textarea {
    width: 94%;
    resize: none;
    margin-top: 10px;
}
.form-button {
    width: 150px;
    height: 30px;
    margin: 10px 0;
    display: block;
    cursor: pointer;
}

.sn-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}
.sn-list-item {
    width: 40px;
    margin: 0 10px;
}
.sn-list-item img {
    width: 100%;
}
.sn-list-item:hover {
    opacity: 0.8;
}

.burger {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.burger div {
    width: 40px;
    height: 5px;
    margin: 3px;
    background-color: #B8CDDB;
    border-radius: 2px;
}
.burger-anim1 div:nth-child(2) {
    animation: burgerShow1 3s ease-in-out forwards;
}
.burger-anim1 div:last-child {
    animation: burgerShow2 3s ease-in-out forwards;
}
.burger-anim2 div:nth-child(2) {
    animation: burgerHide1 3s ease-in-out forwards;
}
.burger-anim2 div:last-child {
    animation: burgerHide2 3s ease-in-out forwards;
}

@keyframes burgerShow1 {
    0% {
        position: absolute;
    }
    100% {
        position: absolute;
        transform: rotate(45deg);
    }
}
@keyframes burgerShow2 {
    0% {
        position: absolute;
    }
    100% {
        position: absolute;
        transform: rotate(-45deg);
    }
}
@keyframes burgerHide1 {
    0% {
        transform: rotate(45deg);
        position: absolute;
    }
    90% {
        position: absolute;
    }
    100% {
        transform: rotate(0);
        position: inherit;
    }
}
@keyframes burgerHide2 {
    0% {
        transform: rotate(-45deg);
        position: absolute;
    }
    90% {
        position: absolute;
    }
    100% {
        transform: rotate(0);
        position: inherit;
    }
}

@media screen and (max-width: 1024px) {
    .slick-list {
        width: 80%;
    }
}
@media screen and (max-width: 769px) {
    .burger {
        display: flex;
    }
    .nav {
        align-items: flex-start;
        padding: 10px 10px 0 10px;
    }
    .nav_logo {
        height: 80px;
        flex-direction: column;
        align-items: center;
    }
    .nav_logo span {
        font-size: 35px;
    }
    .nav_logo img {
        height: 60%;
        margin: 0;
    }
    .nav__menu {
        display: none;
        flex-direction: column;
        margin-top: 85px;
    }
    .nav__menu-item, .toggle-container {
        margin-top: 30px;
    }
    .cross-5 {
        display: none;
    }
    .presentation h1 {
        font-size: 66px;
    }
    .presentation .p1, .presentation .p2 {
        font-size: 36px;
    }
    .slick-prev {left: 10px;}
    .slick-next {right: 10px;}
    .slider-item h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .slider-item p, .slider-item button {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
    }
    .feedback-form {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .sw {
        flex-direction: column;
    }
    .sw-item {
        width: 90%;
    }
    .feedback-form {
        width: 80%;
    }
    .fb-form {
        width: 100%;
        flex-direction: column;
        align-items: center;

    }
    .form-firstname-label,
    .form-secondname-label,
    .form-phone-label,
    .form-email-label,
    .fb-form textarea {
        width: 100%;
    }
}
@media screen and (max-width: 426px) {
    .nav {
        align-items: flex-start;
    }
    .nav_logo {
        height: 80px;
        flex-direction: column;
    }
    .nav_logo img {
        height: 60%;
    }
    .nav__menu {
        display: none;
        flex-direction: column;
        margin-top: 100px;
    }
    .nav__menu-item {
        margin-top: 30px;
    }
    .cross-2 {
        display: none;
    }
    
}
@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        height: 1;
    }
}
@keyframes hideMenu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bgToBig {
    0% {
        height: 100px;
    }
    100% {
        height: 370px;
    }
}
@keyframes bgToSmall {
    0% {
        height: 370px;
    }
    100% {
        height: 100px;
    }
}
@keyframes loadbar1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}