/* #0E3673 
#124291
#B8CDDB
*/
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;700&display=swap');
@import url(animation.css);
@import url(article.css);
@import url(mobile.css);


/*font-family: 'Saira Condensed', sans-serif;*/
body {
    background: #0c0c0c;
}
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
}
.nav {
    width: 100%;
    height: 100px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #0c0c0c;
    z-index: 5;
}
.nav_logo {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav_logo img {
    height: 100%;
    margin-right: 20px;
}
.nav_logo span {
    color: #B8CDDB;
    font-size: 40px;
    margin-right: 50px;
}
.nav__menu {
    display: flex;
    justify-content: space-between;
    color: #B8CDDB;
    font-size: 24px;
    margin-right: 50px;
}
.nav__menu-item {
    cursor: pointer;
    margin: 0 50px;
}
.nav_logo:hover .hover, .nav__menu-item:hover {
    color: #d7ebf8;
}

.main {
    width: 100%;
    padding-top: 10px;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
}
.slick-prev {left: 25px;}
.slick-next {right: 25px;}
.slick-list {
    width: 90%;
    margin: 0 auto;
}
.slider-item {
    height: 600px;
    display: flex !important;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-item h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.slider-item p, .slider-item button {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.slide-btn {
    border: 0;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    cursor: pointer;
}
.slider-item button:hover {
    background: #0c0c0c;
    color: #B8CDDB;
}
.item1 {
    background: url(../img/img1.jpg) no-repeat center/cover;
}
.item2 {
    background: url(../img/img2.jpg) no-repeat center/cover;
}
.item3 {
    background: url(../img/img3.jpg) no-repeat center/cover;
}
.sw-container {
    margin-top: 50;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
}
.sw-container h2 {
    font-size: 46px;
    font-weight: 700;
    color: #B8CDDB;
    text-align: center;
}
.sw-container h2 span {
    color: #f8bf02;
}
.sw-container p {
    font-size: 22px;
    font-weight: 400;
    color: #B8CDDB;
    text-align: center;
}
.sw-container p a {
    text-decoration: underline;
}
.sw-container-episode {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sw-container-episode h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    color: #B8CDDB;
    text-align: center;
}
.episode {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin-top: 10px;
}  
.episode select {
    padding: 10px;
    padding-right: 15px;
    background-color: #f8bf02;
    color: #0c0c0c;
    font-family: 'Saira Condensed', sans-serif;
    font-weight:700;
    font-size: inherit;
    border-radius: 3px;
} 
.episode::before,
.episode::after {
    content: "";
    position: absolute;
    pointer-events: none;
} 
.episode::before {
    width: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}
.episode select option {
    font-family: 'Saira Condensed', sans-serif;
    font-weight:700;
}
.episode select[disabled] {
    color: rgba(0,0,0,.3);
}
  
.episode select[disabled]::after {
    color: rgba(0,0,0,.1);
}
.episode::before {
    background-color: rgba(0,0,0,.15);
}
  
.episode::after {
    color: rgba(0,0,0,.4);
}
.show-char{
    width: 100px;
    height: 40px;
    margin: 10px 0;
    background: none;
    border: 1px solid #B8CDDB;
    border-radius: 3px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight:700;
    line-height: 40px;
    text-align: center;
    color: #B8CDDB;
    box-sizing: border-box;
    cursor: pointer;
}

.sw {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sw-item {
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #B8CDDB;
    padding: 10px;
    box-sizing: border-box;
}
.sw-item h2 {
    margin-bottom: 10px;
    font-size: 28px;
}
.sw-item p {
    margin-bottom: 10px;
    font-size: 20px;
}
.footer {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
}
.feedback-form {
    width: 50%;
}
.feedback-form form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-firstname {
    width: 40%;
    height: 40px;
    border: 1px solid #B8CDDB;
    box-sizing: border-box;
    color: #B8CDDB;
    background-color: #0c0c0c;
}
.form-firstname, .form-secondname {margin: 10px 0;}
.form-firstname::placeholder, .form-secondname::placeholder, .form-phone::placeholder, .form-email::placeholder, .feedback-form form textarea::placeholder {
    font-family: 'Saira Condensed', sans-serif;
    color: #B8CDDB;
}
.form-secondname {
    width: 50%;
    height: 40px;
    border: 1px solid #B8CDDB;
    box-sizing: border-box;
    color: #B8CDDB;
    background-color: #0c0c0c;
}
.form-phone, .form-email {
    width: 45%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #B8CDDB;
    box-sizing: border-box;
    color: #B8CDDB;
    background-color: #0c0c0c;
} 
.feedback-form form textarea {
    width: 94%;
    resize: none;
    background: none;
    border: 1px solid #B8CDDB;
    box-sizing: border-box;
    color: #B8CDDB;
}
.form-button {
    width: 150px;
    height: 30px;
    margin: 10px 0;
    display: block;
    background: none;
    border: 1px solid #B8CDDB;
    box-sizing: border-box;
    color: #B8CDDB;
    cursor: pointer;
}

.sn-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}
.sn-list-item {
    width: 40px;
    margin: 0 10px;
}
.sn-list-item img {
    width: 100%;
}
.sn-list-item:hover {
    opacity: 0.8;
}

.burger {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.burger div {
    width: 40px;
    height: 5px;
    margin: 3px;
    background: #B8CDDB;
}
@media screen and (max-width: 1024px) {
    .slick-list {
        width: 80%;
    }
}
@media screen and (max-width: 769px) {
    .burger {
        display: flex;
    }
    .nav {
        padding: 10px 10px 0 10px;
    }
    .nav_logo img {
        height: 100%;
        margin-right: 10px;
    }
    .nav_logo span {
        font-size: 34px;
        margin-right: 20px;
    }
    .nav__menu {
        display: none;
        font-size: 24px;
        margin-right: 20px;
    }
    .nav__menu-item {
        cursor: pointer;
        margin: 0 10px;
    }
    .cross-5 {
        display: none;
    }
    .presentation h1 {
        font-size: 66px;
    }
    .presentation .p1, .presentation .p2 {
        font-size: 36px;
    }
    .slick-prev {left: 10px;}
    .slick-next {right: 10px;}
    .slider-item h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .slider-item p, .slider-item button {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 426px) {
    .burger {
        display: flex;
    }
    .nav {
        align-items: flex-start;
    }
    .nav_logo {
        height: 80px;
        flex-direction: column;
    }
    .nav_logo img {
        height: 60%;
    }
    .nav__menu {
        flex-direction: column;
        margin-top: 100px;
    }
    .nav__menu-item {
        margin-top: 30px;
    }
    .cross-2 {
        display: none;
    }
    
}
@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        height: 1;
    }
}
@keyframes hideMenu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bgToBig {
    0% {
        height: 300px;
    }
    100% {
        height: 300px;
    }
}
@keyframes bgToSmall {
    0% {
        height: 250px;
    }
    100% {
        height: 100px;
    }
}